<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Books Online
        <link href="https://file.myfontastic.com/s5fWaApSFyU8jy4okE69nR/icons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    body
        .layout-container
            header.header
                .header__top
                    include top
                .header__nav.sn-container
                    .sn-item
                        include menu
            main.main
                block main
            footer.footer