.main-menu-nav.main-justify
    #main-menu-toggle.icon-menu
    ul.main-menu
        li: a(href="/ficcion.html") Fiction
        li: a(href="/drama.html") Drama
        li: a(href="") Romance
        li: a(href="") Mystery
        li: a(href="") Horror
        li: a(href="") Satire
        li: a(href="/contact.html") Contacto
    .cart-in-menu
        i.icon-basket Shopping Cart 
            span (5)