.sn-container
    a(href="/").sn-item.s-70.l-30
        img(src="assets/logo.png", alt="logo")
    .sn-item.main-end.s-30.l-70
        form(action="")
            input#search(type="search", name="" placeholder="Buscar")
            input(type="submit", value="buscar")
        .icon-user-outline