.products.grid-template
    -for(let i = 0; i < 12; i++)
        article.product
            .product__img
                .product__images
                    img(src="assets/boock_1.jpg", alt="product")
                    img(src="assets/boock_2.jpg", alt="product")
                ul.product__flags
                    li ¡En oferta!
                ul.product__actions
                    li.icon-basket
                    li.icon-heart-o
                    li.icon-chart-bar
                    li.icon-eye
            .product__des
                .product__title
                    a(href="") voluptate velit...
                .product__price 36,60 $