.slider
    .slider__item
        img(src="assets/sample-1.jpg", alt="")
    .slider__item
        img(src="assets/sample-2.jpg", alt="")    
    .slider__item
        img(src="assets/sample-3.jpg", alt="")    