.sn-container.sub-banner
    .sn-item.m-50
        .sub-banner__item
            img(src="assets/subbanner-01.jpg", alt="banner")
    .sn-item.m-50
        .sub-banner__item
            img(src="assets/subbanner-02.jpg", alt="banner")