<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Coffee-bar - Gastronomía y Restauración
        <link href="https://file.myfontastic.com/s5fWaApSFyU8jy4okE69nR/icons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    body
        .layout-container
            header.header
                .header__top
                    .sn-container
                        .sn-item.s-70.l-30
                            img(src="assets/logo.png", alt="logo")
                        .sn-item.main-end.s-30.l-70
                            form(action="")
                                input#search(type="search", name="" placeholder="Buscar")
                                input(type="submit", value="buscar")
                            .icon-user-outline
                .header__nav.sn-container
                    .sn-item
                        .main-menu-nav.main-justify
                            #main-menu-toggle.icon-menu
                            ul.main-menu
                                li: a(href="") Fiction
                                li: a(href="") Drama
                                li: a(href="") Romance
                                li: a(href="") Mystery
                                li: a(href="") Horror
                                li: a(href="") Satire
                                li: a(href="") Triller
                            .cart-in-menu
                                i.icon-basket Shopping Cart 
                                    span (5)
            .slider
                .slider__item
                    img(src="assets/sample-1.jpg", alt="")
                .slider__item
                    img(src="assets/sample-2.jpg", alt="")    
            main.main
                block main
            footer.footer